<% if @statuses.empty? or rows.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table class="list issue-report">
<thead><tr>
<th></th>
<th><%=l(:label_open_issues_plural)%></th>
<th><%=l(:label_closed_issues_plural)%></th>
<th><%=l(:label_total)%></th>
</tr></thead>
<tbody>
<% for row in rows %>
<tr class="<%= cycle("odd", "even") %>">
  <td class="name"><%= link_to h(row.name), aggregate_path(@project, field_name, row) %></td>
  <td>
		<%= if @dates[:begin_date].nil? and @dates[:end_date].nil?
					@dates[:begin_date] = Date.new(2014,01,01)
					end
				aggregate_link data, { field_name => row.id, "closed" => 0 },
				aggregate_path(@project, field_name, row,
						:op => {"status_id"=>"o", "#{filter_by}"=>"><"}, 
						"v[#{filter_by}]" => formated_dates(@dates), 
						"f" => ["status_id", "#{filter_by}", ""])
		%>
  </td>
  <td>
  	<%= aggregate_link data, { field_name => row.id, "closed" => 1 }, 
  			aggregate_path(@project, field_name, row,
  				:op => {"status_id"=>"c", "#{filter_by}"=>"><"}, 
						"v[#{filter_by}]" => formated_dates(@dates), 
						"f" => ["status_id", "#{filter_by}", ""]) 
  	%>
  </td>
  <td>
  	<%= aggregate_link data, { field_name => row.id }, 
  			aggregate_path(@project, field_name, row,
  				:op => {"status_id"=>"*", "#{filter_by}"=>"><"}, 
						"v[#{filter_by}]" => formated_dates(@dates), 
						"f" => ["status_id", "#{filter_by}", ""]) 
  	%>
  </td>
</tr>
<% end %>
</tbody>
</table>
<% end
  reset_cycle %>
